<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="text-center">
      <h1 class="top-title">Bonjour cher Fils du Cœur Immaculé</h1>
      <% if Sponsorship.exists?(son_id: @son.id) %>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10 text-left">
              <% if @son_sponsorships.count > 1 %>
                <h4 style="margin-bottom: 22px; margin-top: 0px;">Informations sur les familles dont vous avez la responsabilité spirituelle :</h4>
              <% else %>
                <h4 style="margin-bottom: 22px; margin-top: 0px;">Informations sur la famille dont vous avez la responsabilité spirituelle :</h4>
              <% end %>
              <% @son_sponsorships.each do |sponsorship| %>
                <p>Famille <%= Family.where(id: sponsorship.family_id).first.last_name %></p>
                </break>
                <p>Sa biographie</p>
                </break>
                <p><%= Family.where(id: sponsorship.family_id).first.bio %></p>
                <% if @son_sponsorships.count > 1 %>
                  <hr>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
      <% else %>
        <p class="row">
          Une famille dont vous serez le parrain va vous être attribuée. Celle-ci aura accès à votre bio remplie lors de votre inscription, votre nom, votre date d'ordination ainsi qu'à la ville dans laquelle vous habitez. Vous aurez quant à vous accès à la bio familiale, aux prénoms et âges des enfants ainsi qu'à la ville dans laquelle la famille habite.
        </p>
        <p class="row">
          Dans un souci de simplicité, le site suggère une attribution entre famille
          et prêtre / diacre qui assure une certaine distance géographique, afin de
          garantir que la relation entre les Fils et les Familles du Cœur Immaculé se
          limite à une relation de prière et de soutien spirituel.
        </p>
        <p class="row">
          Vous recevrez alors un mail lorsqu'une famille vous
          sera attribuée.
        </p>
        <!-- <p>Une famille dont vous serez le parrain va vous être attribuée sous peu.
        <br>Vous recevrez alors un e-mail vous informant de l'attribution d'une famille, accompagné d'une rapide présentation.
        </p> -->
      <% end %>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a style="text-decoration: none !important;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Récapitulatif de votre profil
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div>
                <div class="row">
                  <div class="col-xs-6 text-right">
                    <p><strong>Prénom :</strong></p>
                  </div>
                  <div class="col-xs-6 text-left">
                    <%= @son.first_name %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 text-right">
                    <p><strong>Nom :</strong></p>
                  </div>
                  <div class="col-xs-6 text-left">
                    <%= @son.last_name %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 text-right">
                    <p><strong>Situation :</strong></p>
                  </div>
                  <div class="col-xs-6 text-left">
                    <%= @son.level %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 text-right">
                    <p><strong>Date d'ordination :</strong></p>
                  </div>
                  <div class="col-xs-6 text-left">
                    <%= @son.ordination_date.strftime("%d/%m/%Y") %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 text-right">
                    <p><strong>Adresse :</strong></p>
                  </div>
                  <div class="col-xs-6 text-left">
                    <%= @son.address %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 text-right">
                    <p><strong>Votre bio :</strong></p>
                  </div>
                  <div class="col-xs-6 text-left">
                    <%= @son.bio %>
                  </div>
                </div>
              </div>
              <%= link_to "Modifier mon compte", edit_son_registration_path, style: 'margin: 20px; text-decoration: none;' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
