<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "FCI-Logo-white.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if family_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <div class="dropdown-toggle navbar-wagon-link-not-home" data-toggle="dropdown">
            <%= current_family.last_name %> <span class="caret"></span>
          </div>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% if current_family.admin %>
              <li>
                <%= link_to admin_root_path(current_family) do %>
                  <i class="fa fa-cogs"></i> <%= t(".dashboard", default: "Dashboard") %>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to family_path(current_family) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".home", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_family_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% elsif son_signed_in? %>

      <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <div class="dropdown-toggle navbar-wagon-link" data-toggle="dropdown">
          <%= current_son.last_name %> <span class="caret"></span>
        </div>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to son_path(current_son) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t(".home", default: "Home") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_son_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% else %>
      <button class="btn-navbar-sign-in" data-toggle="modal" data-target="#sign-in">Connexion</button>
      <%= render "shared/sign_in_modal" %>
      <button class="btn-navbar-sign-up" id="btn-navbar-sign-up" data-toggle="modal" data-target="#sign-up">Inscription</button>
      <%= render "shared/sign_up_modal" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <p style="color: #16E0BD; text-align: center;">Familles</p>
        <li style="text-align: center;">
          <%= link_to new_family_registration_path do %>
            <%= 'Créer un compte' %>
          <% end %>
        </li>
        <li style="text-align: center;">
          <%= link_to new_family_session_path do %>
            <%= 'Connexion' %>
          <% end %>
        </li>
        <hr>
        <p style="color: #16E0BD; text-align: center;">Prêtres / diacres</p>
        <li style="text-align: center;">
          <%= link_to new_son_registration_path do %>
            <%= 'Créer un compte' %>
          <% end %>
        </li>
        <li style="text-align: center;">
          <%= link_to new_son_session_path do %>
            <%= 'Connexion' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
