<div class="home-page-all">
  <div class="banner">
    <div id="navbar-homepage">
      <%= render 'shared/navbar_home_page'%>
    </div>
    <div class="banner-content text-center">
      <%= image_tag "FCI-Logo-white.png", class: "main-logo", alt: "FCI", style: "margin-bottom: 50px" %>
      <h1 id="h1-home">Familles du Cœur Immaculé</h1>
      <div class="arrow"></div>
    </div>
  </div>

  <div class="wrapper wrapper-home-dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="concept">
          <h3 class="text-center" style="padding-top: 40px">La mission</h3>
          <p>Familles du Cœur Immaculé est né le 8 décembre 2005 dans le cœur d’une mère de famille française, qui s’est sentie appelée à conduire beaucoup d’autres familles à la Vierge, pour les placer sous la protection de son manteau.</p>
          <p>Lors de la messe de la Toussaint du samedi 1er novembre 2014, l’appel s’est confirmé, en y incluant les prêtres et les diacres. Désormais, la Vierge appelle les familles et les prêtres à se consacrer à son Cœur Immaculé et à se placer sous son manteau protecteur, en se soutenant mutuellement par la prière.</p>
          <p>Le projet a été officiellement lancé le 8 décembre 2015 par l'évêque d'Orléans.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-home-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="project">
          <h3 class="text-center" style="padding-top: 40px">Le projet</h3>
          <p>Il s’agit un partenariat spirituel entre les familles et les prêtres / diacres, chaque partie priant et soutenant l'autre dans son combat spirituel et pour sa vocation à la sainteté. Le principe est celui d'un parrainage mutuel, à la suite d'une consécration au Cœur Immaculé.</p>
          <p>Les " Familles du Cœur Immaculé", après s'être consacrées (voir prière) en  début d’année, s'engagent pour un an renouvelable, à prier un Je vous salue Marie par jour pour la sainteté de leur filleul prêtre ou diacre, et à assister à une messe par mois en priant spécialement pour cette intention. La famille a une grande liberté. Elle peut se consacrer en cours d’année, et chaque famille trouve l’organisation et le tempo qui lui convient. L’essentiel étant d’être fidèle à l’engagement et de durer. Le Je vous salue Marie peut être prié par un membre de la famille à tour de rôle, par chacun, avec un horaire synchronisé ou non, uniquement par les parents au nom de toute la famille, toutes les formules sont bonnes !</p>
          <p>Les prêtres / diacres, "Fils du Cœur Immaculé" après s'être également consacrés (voir prière), s'engagent pour un an renouvelable, à célébrer ou assister (pour les diacres) à une messe le premier jeudi du mois, institution de l'Eucharistie, et à prier un Je vous salue Marie par jour, pour la sainteté de leur famille à la fois marraine et filleule.</p>
          <p>La consécration au Cœur Immaculé est différente pour les familles et les prêtres / diacres. Elle correspond à leur vocation propre et au combat spirituel que chacun doit mener.</p>
          <p>L'ensemble du projet est soutenu plus particulièrement dans la prière par un tandem famille-prêtre.  Le père Marie Michel, assure un tweet marial mensuel. </p>
          <div class="text-center">
            <div class="btn-group dropup">
              <button class="btn btn-home dropdown-toggle" data-toggle="dropdown">
                Je participe au projet !<!-- <span class="caret"></span> -->
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to new_family_registration_path do %>
                    <i class="fa fa-user"></i> <%= t ".profile", default: "Je suis une famille" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_son_registration_path do %>
                    <i class="fa fa-user"></i> <%= t ".profile", default: "Je suis un prêtre / diacre" %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-home-dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="concept">
          <h3 class="text-center" style="padding-top: 40px"><i class="fa fa-twitter" style="color: #2AA3EF"></i> Le tweet du mois - <%= I18n.l(Date.today, format: "%B %G").capitalize %></h3>
          <p class="text-center">
          <p>Apocalypse 12 : « Le soleil l’enveloppe, la lune est sous ses pieds et douze étoiles couronnent sa tête »
            </br></br>
              Cette Femme enveloppée par le soleil est Marie : transparence parfaite du Christ, « Lumière du monde » (Jn 8,12) qui s’est fait tout petit en son sein.
            </br>
              Car dans le mystère ineffable de l’Incarnation, le Soleil est né d’une étoile ! L’Éternel est entré dans notre temps. Pour transfigurer l’histoire, Dieu s’est fait homme. Comme le soulignent les Pères de l’Église : « Il est devenu ce qu’Il n’était pas, sans cesser d’être ce qu’Il est ». Il l’a manifesté à la Transfiguration devant Pierre, Jean et Jacques où « son Visage a resplendi comme le soleil ! » (Mt 17,2).
            </br></br>
              Et après la Résurrection du Seigneur, l’Apôtre Jean, le bien-aimé, nous partage la vision qui a bouleversé sa vie, sur l’Île de Patmos, au tout début de son Apocalypse : « Son visage, c’est comme le soleil qui brille dans tout son éclat » (Ap 1,16). Ce Visage de lumière est aussi notre héritage et pour le contempler, Jésus nous a dit sur la Croix à travers son Apôtre : « Voici ta Mère ! » (Jn 19,27). Saint Louis-Marie Grignion de Montfort le confirme avec tant d’autres Saints ou Pères de l’Eglise :
            </br></br>
              « Aller à Jésus-Christ par Marie, c’est pratiquer l’humilité qui ravit toujours le Cœur de Dieu. Car Marie devient toute chose à cette âme auprès de Jésus-Christ : elle éclaire son esprit par sa pure foi. Elle approfondit son cœur par son humilité, elle l’élargit et l’embrase par sa charité, elle le purifie par sa pureté, elle l’anoblit et l’agrandit par sa maternité. Il n’y a que l’expérience qui apprend ces merveilles de Marie. » (Le secret de Marie, n° 36 et 57). Elle est véritablement cette « mer de cristal mêlée de feu » (Ap 15,2), transparence unique et sublime de l’Esprit ! Et son Cœur Immaculé, offert maternellement à notre foi, peut nous plonger à chaque instant dans l’Océan d’amour infini de la Trinité Sainte.
            </br></br>
              C’est pourquoi « la lune est sous ses pieds » car Elle domine désormais les puissances du mal : Elle écrase la tête du Serpent sous ses pieds comme la représente nombre de statues ou d’images. On peut dire d’Elle ce que précise un passage de l’Apocalypse : « La ville peut se passer de l’éclat du soleil et de celui de la lune, car la gloire de Dieu l’a illuminée, et l’Agneau lui tient lieu de flambeau ! » (Ap 21,23).
            </br></br>
              Souvenons-nous ici des Apparitions de la Vierge à Fatima où lorsqu’Elle vient, la lumière de ce monde est modifiée : « Le soleil commença à perdre de son éclat et l’atmosphère prit une vraie magnificence de couleur ! » Car à chaque Apparition, il y eut ces modifications étonnantes de luminosité. C’est comme si un peu de la splendeur du Ciel descendait sur terre et réduisait celle de la création.
            </br></br>
              Enfin, « douze étoiles couronnent sa tête » : un chiffre biblique qui exprime l’élection de la Vierge et sa plénitude de grâce (Lc 1,28). On le retrouve souvent dans l’Écriture : les 12 Apôtres, les 12 tribus d’Israël, les 12 portes de la Jérusalem messianique (Ap 21,9-14).
            </br></br>
              Mais ces douze étoiles qui couronnent la tête de Marie signifient aussi que nous sommes tous appelés à devenir des saints, étoiles dans le Ciel de Dieu. L’Apparition de la Vierge à Pontmain le 17 janvier 1871 en témoigne magnifiquement. Alors que la France était envahie par la Prusse, Marie apparaît à 4 enfants et retourne la situation en faisant prier toute une paroisse : « Elle se présente vêtue d’une robe bleue parsemée d’étoiles, et plus on prie le chapelet, plus les étoiles se multiplient sur sa robe et autour d’elle. » L’invasion Prussienne s’arrête et la France est sauvée ! Quelle actualité pour ces temps de la fin que nous vivons où le saint Rosaire peut encore faire des miracles.
            </br></br>
          </p>
          <p>Père Marie+Michel</br></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
function checkScroll(){
    var startY = $('.navbar-wagon').height() * 3; //The point where the navbar changes in px

    if($(window).scrollTop() > startY){
        $('.navbar-wagon').addClass("scrolled");
    }else{
        $('.navbar-wagon').removeClass("scrolled");
    }
}
setTimeout(function(){
  $(".alert").slideUp();
}, 3000);

if($('.navbar-wagon').length > 0){
    $(window).on("scroll load resize", function(){
        checkScroll();
    });
}

  $(document).ready(function(){
    $('#sign-in').on('shown.bs.modal', function() {
      $('#family_email').focus();
    });
  });
</script>
