<div class="home-page-all">
  <div class="banner">
    <div id="navbar-homepage">
      <%= render 'shared/navbar_home_page'%>
    </div>
    <div class="banner-content text-center">
      <%= image_tag "FCI-Logo-white.png", class: "main-logo", alt: "FCI", style: "margin-bottom: 50px" %>
      <h1 id="h1-home">Familles du Cœur Immaculé</h1>
      <div class="arrow"></div>
    </div>
  </div>

  <div class="wrapper wrapper-home-dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="concept">
          <h3 class="text-center" style="padding-top: 40px">La mission</h3>
          <p>Familles du Cœur Immaculé est né le 8 décembre 2005 dans le cœur d’une mère de famille française, qui s’est sentie appelée à conduire beaucoup d’autres familles à la Vierge, pour les placer sous la protection de son manteau.</p>
          <p>Lors de la messe de la Toussaint du samedi 1er novembre 2014, l’appel s’est confirmé, en y incluant les prêtres et les diacres. Désormais, la Vierge appelle les familles et les prêtres à se consacrer à son Cœur Immaculé et à se placer sous son manteau protecteur, en se soutenant mutuellement par la prière.</p>
          <p>Le projet a été officiellement lancé le 8 décembre 2015 par l'évêque d'Orléans.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-home-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="project">
          <h3 class="text-center" style="padding-top: 40px">Le projet</h3>
          <p>Il s’agit un partenariat spirituel entre les familles et les prêtres / diacres, chaque partie priant et soutenant l'autre dans son combat spirituel et pour sa vocation à la sainteté. Le principe est celui d'un parrainage mutuel, à la suite d'une consécration au Cœur Immaculé.</p>
          <p>Les " Familles du Cœur Immaculé", après s'être consacrées (voir prière) en  début d’année, s'engagent pour un an renouvelable, à prier un Je vous salue Marie par jour pour la sainteté de leur filleul prêtre ou diacre, et à assister à une messe par mois en priant spécialement pour cette intention. La famille a une grande liberté. Elle peut se consacrer en cours d’année, et chaque famille trouve l’organisation et le tempo qui lui convient. L’essentiel étant d’être fidèle à l’engagement et de durer. Le Je vous salue Marie peut être prié par un membre de la famille à tour de rôle, par chacun, avec un horaire synchronisé ou non, uniquement par les parents au nom de toute la famille, toutes les formules sont bonnes !</p>
          <p>Les prêtres / diacres, "Fils du Cœur Immaculé" après s'être également consacrés (voir prière), s'engagent pour un an renouvelable, à célébrer ou assister (pour les diacres) à une messe le premier jeudi du mois, institution de l'Eucharistie, et à prier un Je vous salue Marie par jour, pour la sainteté de leur famille à la fois marraine et filleule.</p>
          <p>La consécration au Cœur Immaculé est différente pour les familles et les prêtres / diacres. Elle correspond à leur vocation propre et au combat spirituel que chacun doit mener.</p>
          <p>L'ensemble du projet est soutenu plus particulièrement dans la prière par un tandem famille-prêtre.  Le père Marie Michel, assure un tweet marial mensuel. </p>
          <div class="text-center">
            <div class="btn-group dropup">
              <button class="btn btn-home dropdown-toggle" data-toggle="dropdown">
                Je participe au projet !<!-- <span class="caret"></span> -->
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to new_family_registration_path do %>
                    <i class="fa fa-user"></i> <%= t ".profile", default: "Je suis une famille" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_son_registration_path do %>
                    <i class="fa fa-user"></i> <%= t ".profile", default: "Je suis un prêtre / diacre" %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-home-dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-12" id="concept">
          <h3 class="text-center" style="padding-top: 40px"><i class="fa fa-twitter" style="color: #2AA3EF"></i> Le tweet du mois - <%= I18n.l(Date.today, format: "%B %G").capitalize %></h3>
          <p class="text-center">
          <p>" Marie, le ciel qui porte Dieu ! "</br></br>
           En ce temps béni de l'Avent, nous sommes appelés au silence pour aimer l'Amour qui est descendu dans le sein de Marie, sa Mère qui est aussi devenue la Nôtre !</br></br>
            Comme l'écrit admirablement Saint Ephrem, un Père de l'Église du IVème siècle : " La Vierge portait en Elle, comme un enfant, Celui dont le monde était rempli... et Marie est devenue pour nous le ciel qui porte Dieu. En Elle, Dieu s'est fait petit pour nous faire grandir. En Elle, Il nous a tissé un habit avec lequel Il nous sauverait. D'elle, s'est levée la lumière qui a chassé les ténèbres du paganisme. "</br></br>
            Méditons ces paroles si vraies et si belles fondées sur la Parole car elles sont aujourd'hui écartées et déviées jusque dans l'Église.
            Nous entrons en cette fin des temps dans les ultimes combats entre la Femme et le dragon
            (Ap 12,1-4).</br>
            Par le Chapelet et les sacrements, vivons et rayonnons humblement la Vérité et la Miséricorde de Jésus, notre Sauveur. Il est si urgent d'entrer maintenant plus que jamais dans l'Arche Sainte du Cœur Immaculé de Marie pour nous enfuir avec Elle au désert (Ap 12,5-6).</br>
            Là, Elle nous protégera pour nous préparer aux temps de la fin qui nous mèneront à la " Civilisation de l'Amour" prophétisée par Saint Jean-Paul II !
          </p>
          <p>Père Marie+Michel</br></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
function checkScroll(){
    var startY = $('.navbar-wagon').height() * 3; //The point where the navbar changes in px

    if($(window).scrollTop() > startY){
        $('.navbar-wagon').addClass("scrolled");
    }else{
        $('.navbar-wagon').removeClass("scrolled");
    }
}
setTimeout(function(){
  $(".alert").slideUp();
}, 3000);

if($('.navbar-wagon').length > 0){
    $(window).on("scroll load resize", function(){
        checkScroll();
    });
}

  $(document).ready(function(){
    $('#sign-in').on('shown.bs.modal', function() {
      $('#family_email').focus();
    });
  });
</script>
