<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center top-title">Qui sommes-nous ?</h3>
    </div>
  </div>

    <div class="col-xs-6 text-center" style="padding-right: 25px">
      <div class="row" style="margin-top: 50px;">
        <div class="col-xs-12 text-center">
          <%= image_tag "pere-marie-michel.jpg", class: "avatar", alt: "Père Marie-Michel", style: "margin-bottom: 30px;" %>
          <h4>Père Marie-Michel</h4>
          <p style="padding-bottom: 40px; text-align: justify;">Après une jeunesse marquée par la woodstock-génération, le père Marie-Michel découvre la présence du Christ aux pieds de la Vierge à Fatima. À 24 ans, il entre dans le silence du Carmel et devient prêtre en 1982. Là, il partage sa vie entre vie communautaire, désert et missions auprès de la jeunesse. En 1984, il fonde aux côtés du P.Daniel-Ange l’école aujourd’hui internationale « Jeunesse-lumière ». En 1997, il fonde le Carmel de Marie Vierge Missionnaire dans le diocèse de Valence. Il est l’auteur d’une douzaine de livres de spiritualité.</p>
        </div>
        <div class="col-xs-12 text-center">
          <h4>Les Familles du Cœur Immaculé</h4>
          <p style="text-align: justify;">L’intuition de ce mouvement marial est un beau fruit de la vie baptismale et correspond à une urgence pour l’Église d'aujourd’hui. En effet, face aux défis pastoraux et sociétaux qui sont les nôtres, quelle plus grande priorité d’abord que la force de la prière et de la communion fraternelle ?  En liant spirituellement les familles et les prêtres par la prière mutuelle et la consécration au Cœur Immaculé de Marie, cette démarche se situe au cœur même de la foi et de la vie de l’Église. Elle est aussi une réponse à l’insistance du Seigneur dans les Évangiles :  « Veillez et priez en tout temps afin d’avoir la force d’échapper à ce qui doit arriver... » (lc 21,36). En se confiant à Marie, Mère de Dieu, c’est pour les prêtres et les familles se mettre à l’école de son Cœur immaculé en lequel s’est imprimé l’Évangile de son Fils (lc 2,19). C’est enfin laisser la Mère de l’Église nous enfanter dans l’amour du Christ pour vivre au cœur du monde ce que le Pape François appelle « la force révolutionnaire de la tendresse... »</p>
          <p style="text-align: justify; padding-bottom: 40px">Pour mieux découvrir le témoignage et l’enseignement du père Marie-Michel, visitez son Blog : <a target="_blank" href="http://marie-michel-blog.cmvm.net/">http://marie-michel-blog.cmvm.net/</a><br/>Et le site de sa jeune communauté : <a target="_blank" href="http://carmel-vierge-missionnaire.net ">www.carmel-vierge-missionnaire.net </a></p>
        </div>
        <div class="col-xs-12 text-center">
          <%= image_tag "carol.png", class: "avatar", alt: "Carol", style: "margin-bottom: 30px;" %>
          <h4>Carol</h4>
          <p style="padding-bottom: 40px; text-align: justify;">Carol, mariée à Thierry, parents de 4 garçons et une fille. Habite en région parisienne.<br/>
          « Le 8 décembre 2005, j'avais senti qu'il fallait placer les familles sous le manteau de la Vierge ; mais maintenant, il s’agit d’y mettre les prêtres, et que les deux (familles et prêtres) se donnent la main pour se soutenir mutuellement dans le combat spirituel.<br/>
          Satan s'excite et se déchaîne en ciblant tout spécialement les familles et les prêtres. La Vierge leur offre son Cœur Immaculé et son manteau pour les protéger et les soutenir dans le combat. »</p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 text-center" style="padding-left: 25px">
      <div class="row" style="margin-top: 50px;">
        <div class="col-xs-12 text-center">
          <%= image_tag "babeanu.png", class: "avatar-large", alt: "Sophie", style: "margin-bottom: 30px;" %>
          <h4>Sophie</h4>
          <p style="padding-bottom: 40px; text-align: justify;">Nous sommes une famille comme les autres, parent, enfants qui avançons dans le monde et dans notre foi de notre mieux. Bien conscients de la force de la prière, nous voulons prier pour nos prêtres. C'est pourquoi nous participons à ce projet à travers cette prière quotidienne. Notre vocation à la sainteté se construit chaque jour. À nous de la choisir, en nous appuyant sur le Christ !</p>
        </div>
        <div class="col-xs-12 text-center">
          <%= image_tag "la-batie.png", class: "avatar-large", alt: "Pierre et Séverine", style: "margin-bottom: 30px;" %>
          <h4>Pierre et Séverine</h4>
          <p style="padding-bottom: 40px; text-align: justify;">Notre vie conjugale et familiale est parrainée par Notre Dame : lors de nos premières années de mariage dans le cœur de Notre Dame des Victoires puis à Lourdes avec nos jeunes enfants, à Medjugorje et en Terre Sainte avec nos adolescents. Un cœur à cœur pour nous tous, qui nous porte chaque jour. Nous voilà maintenant appelés à parrainer Famille du Cœur Immaculé de Marie, c’est un beau retour vers Notre Dame ! Merci !</br> Pierre, Séverine et leurs 5 enfants.</p>
        </div>
        <div class="col-xs-12 text-center">
          <%= image_tag "d-aillieres.png", class: "avatar-large", alt: "Christian et Sylvie", style: "margin-bottom: 30px;" %>
          <h4>Chirstian et Sylvie</h4>
          <p style="padding-bottom: 40px; text-align: justify;">Nous sommes parents et grands-parents. Par la prière quotidienne et l’action de grâce nous plaçons notre famille, sous la protection maternelle de Marie. Louez sois-Tu Seigneur pour ta Sainte Mère qui protège nos familles et nos prêtres, nos bergers, pour tous les conduire à son Fils.</br> Christian et Sylvie</p>
        </div>
      </div>
    </div>

</div>
