<p>
  Une nouvelle famille vient de s'inscrire sur FCI.<br/>
  <br/>
  Voici ci-dessous les informations concernant la famille :
  <br/>
    <p><strong>Nom : </strong><%= @family.last_name %></p>
    <p><strong>Prénoms et âges des enfants : </strong><%= @family.first_names_and_ages %></p>
    <p><strong>Biographie : </strong><%= @family.bio %></p>
    <p><strong>Adresse e-mail : </strong><%= @family.email %></p>
    <p><strong>Numéro de téléphone : </strong><%= @family.phone_number %></p>
    <p><strong>Adresse : </strong><%= @family.address %></p>
  <br/>
  <br/>
  L'équipe FCI
</p>
