<h2 class="top-title" style="text-align: center; margin-bottom: 40px; margin-top: 40px;"><%= t(".sign_in") %></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs container">
    <div class="row">
      <div class="col-sm-offset-3 col-xs-12 col-sm-6"><%= f.input :email, required: false, autofocus: true, placeholder: "Email", label: false %></div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-xs-12 col-sm-6"><%= f.input :password, required: false, placeholder: "Mot de passe", label: false %></div>
    </div>
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6"><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></div>
    </div>
  </div>

  <div class="form-actions container">
    <div class="row">
      <div class="col-xs-12 text-center"><%= f.button :submit, "Connexion", class: 'btn-navbar-sign-up', style: 'margin: 20px 0 20px 0;' %></div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center"><%= render "devise/shared/links" %></div>
    </div>
  </div>
<% end %>
