<p>
  Un nouveau <%= @son.level.lowercase %> vient de s'inscrire sur FCI.<br/>
  <br/>
  Voici ci-dessous les informations concernant le <%= @son.level.lowercase %> :
  <br/>
    <p><strong>Prénom et nom : </strong><%= @son.first_name %> <%= @son.last_name %></p>
    <p><strong><%= @son.level %> depuis le : </strong><%= @son.ordination_date.strftime("%d/%m/%Y") %></p>
    <p><strong>Biographie : </strong><%= @son.bio %></p>
    <p><strong>Adresse e-mail : </strong><%= @son.email %></p>
    <p><strong>Numéro de téléphone : </strong><%= @son.phone_number %></p>
    <p><strong>Adresse : </strong><%= @son.address %></p>
  <br/>
  <br/>
  L'équipe FCI
</p>
